---
layout: page
title: evan hazlett
tagline:
---
{% include JB/setup %}

<h3>DevOps, programmer, and open source enthusiast in Indianapolis, Indiana.</h3>

<h3>To get in touch, <a href="mailto:ejhazlett@gmail.com">email me</a>.</h3>

<ul>
    <li>Code: <a href="https://github.com/ehazlett">https://github.com/ehazlett</a></li>
    <li>Twitter: <a href="https://twitter.com/ehazlett">https://twitter.com/ehazlett</a></li>
</ul>

<h2>Posts</h2>
{% assign posts_collate = site.posts %}
{% include JB/posts_collate %}
